/* shared styles for the hat game application */
* {
	box-sizing: border-box;
}
body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    margin: 0em;
    font-family: arial;
    padding: 5px;
    max-width: 1000px;
    margin: auto;

}
#header { 
    background-color: #673AB7;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    border-top-right-radius: .3em;
    border-top-left-radius: .3em;
}
#header #title {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#header #title span {
	font-size: 2em;
	font-weight: bold;
	margin: 0 auto;
}
img#logo { 
	width: 100px;
	height: 100px;
	cursor: pointer;
}
#videoLink {
    display: flex;
}

#videoLink>a {
	height: 2.5em;
	align-self: center;
}

#playerList {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-content: space-evenly;
}
#playerList p {
    margin: 0px;
}
.player-icon {
	align-self: flex-start;
	min-width: 3em;
	text-align: center;
	color: white;
	margin: .1em;
	border-radius: .3em;
	min-height: 3em;
	line-height: 3em;
	padding: .2em;
}
.player-icon.team-1 {
    border: .1em solid #18a9c5;
	background-color: #18a9c5;
}
.player-icon.team-2 {
    border: .1em solid #ff2222;
	background-color: #ff2222;
}
.player-icon.active {
	border: .1em solid #ffffff;
}
#main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-window {
    background-color: white;
    min-width: 300px;
    flex-grow: 1;
    padding: 1em
}
.input-section {
    margin-bottom: .3em;
    display: flex;
    justify-content: space-between;
}
input {
	width: 100%;
	margin-right: 5px;
	min-height: 2.5em;
	padding-right: 1em;
	padding-left: 1em;
}
#optionList .input-section input {
    float: right;
    width: auto;
}
#footer {
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    background-color: #673AB7;
    padding: .5em;
    box-shadow: .1em .1em #000000;
}
button, .button {
    border-radius: .3em;
    box-shadow: .1em .1em #000000;
    padding: .3em;
	background-color: #4caf50;
	color: white;
    text-align: center;
    font-size: large;
	margin: auto;
	border: 0px;
	min-width: 5em;
	cursor: pointer;
}
button.remove {
	background-color: #e00000;
	max-width: 4em;
	min-width: 2em;
}
#footer button {
    margin: auto;
    max-width: 30%;
}
button:hover, .button:hover {
    background-color: #169000;
}
button.remove:hover, .button.remove:hover {
    background-color: #c00000;
}
button:active {
    background-color: #72ce76;
    box-shadow: .1em .1em #000000 inset;
}
.inactive {
    display: none;
}