
.loading_text {
  font-size: 36pt;
  color: blue;
}

.player_list_table tr:nth-child(odd) {
  background: lightblue;
}

.player_list_table tr:nth-child(even) {
  background: pink;
}

.active_player_in_list {
  font-weight: bold
}

/* if needed: .passive_player_in_list */

.phrase_input_prompt {
  font-size: 12pt;
  color: blue;
}

input.phrase_text_input {
  font-size: 24pt;
}

.phrase_input_submit_button {
    font-size: 36pt;
    color: green
}

.start_button {
  font-size: 36pt;
}

.seconds_remaining {
  font-size: 36pt;
  color: red;
}

.word_being_guessed {
  font-size: 36pt;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.game_done_text {
  font-size: 36pt;
}
