/* styles for the new-game page */
.name-text {
	width: 100%;
	margin-right: 0px;
	min-height: 2em;
	flex-basis: 10rem;
	flex-grow: 1;
}
.team-select {
	color: #ffffff;
	font-weight: bold;
	padding: 1px;
}
.team-onhover:hover {
	background-color: #ff0000;
}

#players {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 100%;
}
.team-section {
	display: flex;
	flex-direction: column;
	border: .1em solid #673ab7;
	margin-bottom: .3em;
	border-radius:  .3em;
	transition: border-color .2s;
	box-shadow: 0.1em 0.1em .1em #cccccc;
}
.team-section.player-target .player-add:after{
	content: "\AMove Player";
	height: 2em;
	background-color: #c1ffe7;
	float: left;
	clear: both;
	line-height: 2em;
	text-align:  center;
	color: black;
	border: .1em dotted #ccc;
	flex-basis: 100%;
	margin-top: .3em;
}
.team-name {
	margin-bottom: 0px;
	margin-top:0px;
	padding: 0 .3em;
	background-color: #673ab7;
	color: white;
	font-weight: normal;
	font-size: 1.5em;
	transition: background-color .2s;
	user-select: none;
}
button.add {
	flex-basis: 2em;
	min-width: auto;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: none;
	height: 2em;
	font-weight: bold;
}
.handle {
	padding: .5em;
	background-color: #aaaaaa;
	width: 3em;
	text-align: center;
	cursor: grab;
	user-select: none;
	flex-basis: 3em;
}