<!DOCTYPE html>
<html>
	{% with title="List", filename="list" %}
		{% include 'head.html' %} 
	{% endwith %}
  <body>
	{% include 'header.html' %}
	<section id="game_list_container">
	</section>
	<section id="footer">
		<div class="button start"><span>Start</span></div>
	</section>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="{{ url_for('static', filename='game-list.js') }}"></script>
  </body>
</html>
