<!DOCTYPE HTML>
<html>
	{% with title="Game Portal", filename="game-portal" %}
		{% include 'head.html' %} 
	{% endwith %}
	<body>
		{% include 'header.html' %}
		<section id="main">
			<div class="flex-window">
				<h1>Game Portal</h1>
				<a href="{{ video_url }}"><button>Video link</button></a>
				<p>Click your player name below to join the game</p>
				<div id="playerlist">
				{% for item in playerlist %}
					<a href="{{ item.href }}"><button class="player-button">{{ item.caption }}</button></a>
				{% endfor %}
				</div>
			</div>
		</section>
		<section id="footer">
		</section>
	</body>
</html>