<!DOCTYPE html>
<html>
	{% with title="Game", filename="game" %}
		{% include 'head.html' %} 
	{% endwith %}
  <body>
	{% include 'header.html' %}
	<section id="main">
		<div class="flex-window" id="app" data-player-id="{{playerId}}">
		</div>
	</section>
	<section id="footer">
	</section>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Load React. -->
	<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

	<!-- load our javascript -->    
    	<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
  </body>
</html>

