<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hat Game - Portal</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='game-portal.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
	<body>
		<section id="header">
			<img id="logo" src="{{ url_for('static', filename='logo.jpg') }}"></img>
			<div id="playerList">
				<div class="player-icon team-1 inactive">
					<img src="player.jpg"/>
				</div>
				<div class="player-icon team-1 inactive">
					<img src="player.jpg"/>
				</div>
				<div class="player-icon team-2 inactive">
					<img src="player.jpg"/>
				</div>
				<div class="player-icon team-2 inactive">
					<img src="player.jpg"/>
				</div>
			</div>
		</section>
		<section id="main">
			<div class="flex-window">
				<h1>Game Portal</h1>
				<a href="{{ video_url }}"><button>Video link</button></a>
				<p>Click your player name below to join the game</p>
				<div id="playerlist">
				{% for item in playerlist %}
					<a href="{{ item.href }}"><button class="player-button">{{ item.caption }}</button></a>
				{% endfor %}
				</div>
			</div>
		</section>
		<section id="footer">
		</section>
	</body>
</html>