<section id="header">
	<div id="title">
		<a href="/new-game.html">
			<img id="logo" alt="the hat game logo" src="{{ url_for('static', filename='logo.png') }}"></img>
		</a>
		<span>Hat Game</span>
	</div>
	<div id="videoLink">
	{% if video_url is defined and video_url != '' %} 
		<a target="_blank" href="{{ video_url }}"><button>Open Video</button></a>
	{% endif %}
	</div>
	{% if show_controls %}
	<div class=controls-div>
		<div>
			<input type="checkbox" id="show_score_checkbox">
			<label for="show_score_checkbox"> Show Score</label>
		</div>
		<div>
			<input type="checkbox" id="host_controls_checkbox">
			<label for="host_controls_checkbox"> Host Controls</label>
		</div>
	</div>
	{% endif %}
	<div id="playerList">
	{% for item in playerlist %}
		<div class="player-icon {{ loop.cycle('team-1', 'team-2') }}">
			{{ item.caption }}
		</div>
	{% endfor %}
	</div>
</section>