<!DOCTYPE HTML>
<html>
	{% with title="New Game", filename="new-game" %}
		{% include 'head.html' %} 
	{% endwith %}
	<body>
		{% include 'header.html' %}
		<section id="main">
			<div id="players" class="flex-window">
				<h1>Players</h1>
				<div class="team-section">
					<h1 class="team-name"></h1>
					<div class="player-add input-section">
						<div class="handle inactive">=</div>
						<input class="name-text" type="text"></input>
						<button class="add">+</button>
						<button tabindex="-1" class="remove inactive">x</button>
					</div>
				</div>
			</div>

			</div>
			<div id="optionList" class="flex-window">
				<h1>Options</h1>
				<div class="input-section">
					<span>Word Count</span><input id="wordCount" type="text" value="5"></input>
				</div>
				<div class="input-section">
					<span>Turn Length (sec)</span><input id="turnLength" type="text" value="30"></input>
				</div>
				<div class="input-section">
					<span>Video URL</span><input id="videoUrl" type="text" placeholder="https://someurl.com"></input>
				</div>
			</div>
		</section>
		<section id="footer">
			<button class="start">Start</button>
		</section>
		<div class="dialog">
			<div class="close-dialog">x</div>
			<div class="dialog-text-section">
  				<p class="dialog-text">Dialog text</p>
			</div>
		</div>

		<!-- load javascript -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='dialog.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='new-game.js') }}"></script>
	</body>
</html>